* {
  margin: 0px;
}

body {
  background-color: #ffcc99;
  margin: 10px;
}

h1 {
  color: #000000;
  font-family: 'Yatra One', cursive;
}

h2 {
  color: #0000ff;
}

h3 {
  color: #008080;
}

p {
  margin: 20px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

li {
  list-style-type: none;
  background-color: #808080;
  border-bottom: 1px solid #000000;
  padding: 10px 20px;
}

.section {
  margin-right: 10px;
  box-shadow: 10px 10px 10px #000000;
  background-color: #ffffff;
}
