.headerDiv {
  text-align: center;
}

section.template{
  display: none;
}

.section {
  padding: 20px;
  margin-top: 50px;
}

nav {
  clear: none;
  display: none;
}

ul {
  margin-left: -10px;
  padding: 0px;
  width: 715px;
}

/*header {
  position: fixed;
}*/

@media only screen and (min-width: 420px){

}

@media only screen and (min-width: 715px){
  ul {
    width: auto;
  }

  nav {
    float: right;
  }

  li{
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
  }
}
