* {
  margin: 0px;
}

body {
  margin: 10px;
}

.headerDiv {
  text-align: center;
}

.hamburger {
  margin: 16px;
  width: 40px;
  float: right;
}

h1 {
  padding: 13px;
  font-size: 24px;
}

h2 {
  color: #0000ff;
}

h3 {
  color: #008080;
}

.logo {
  float: left;
  width: 50px;
}

nav {
  clear: both;
  display: none;
}

p {
  margin: 20px;
}

a {

}

li {
  list-style-type: none;
  background-color: #cccccc;
  padding: 10px 20px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}

section.template{
  display: none;
}

@media only screen and (min-width: 380px){
  .hamburger {
    margin: 16px;
    width: 60px;
  }

  h1 {
    padding: 18px;
    font-size: 36px;
  }

  .logo {
    width: 75px;
  }
}

@media only screen and (min-width: 715px){
  nav {
    display: inherit;
    float: right;
    clear: none;
  }

  .hamburger {
    display: none;
  }

  li {
    display: inline;
  }
}
